/* Your CSS here. */
h1 {
  color: rgb(255, 0, 0);
  text-align: center;
}

p {
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    display: block;
    margin: auto;
}

a {
    display: block;
    text-align: center;
}

.card {
    width: 500px;
    background-color: rgb(255, 153, 0);
    padding: 20px;
    text-align: center;
    margin: auto;
}

body {
    display: flex;
    justify-content: center;
}